
body, header, nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
    display: flex;
    align-items: center;
    width: 1200px; 
    height: 128px; 
}

.logo-container{
    margin-right: 135px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; 
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

#logoimg {
    height: 64px; 
    width: 64px;
}

.navbar .nav-link {
    text-decoration: none;
    margin-right: 64px;
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease; /* Transition pour l'effet hover */
    
}

.navbar .nav-link.active {
    font-weight: 700; 
}

.navbar .nav-link:hover {
    color: #8B5CF6; /* Couleur du texte au survol */
}


.bg1 {
    background-image: url('../images/mainimg.png'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center; 
    height: 797px; /* Hauteur fixe */
    width: 100%; /* Assurez-vous que l'élément couvre toute la largeur de l'écran */
    display: flex; 
}

.hero-content {
    margin-left: 32px; 
    font-family: Nunito;
    position: absolute;

}

.hero-content h1 {
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 448px;
}

.hero-content p {
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 448px;
}


#about { 
    margin-top: 32px;
    width: 1200px;
}

h3{ 
   
    margin-left: 32px;
    color: #612999;
font-family: Rubik;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 100% */
}

#about p { 
    color: #000;
    font-family: Rubik;
    margin-left: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 27px;
}

.content{
    flex: 1;
}

.rectangle {
    width: 376px;
    height: 496px;
    background: #EFECFF;
    border-radius: 38px;
    box-shadow: 0px 6px 40px 0px (57, 132, 187, 0.05);
    position: relative;
    margin-right: 32px;
}

.rectangle img {
    width: 376px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 38px; 
}

.rectangle h2 {
    color: #000;
    text-align: justify;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
}


.rectangle p {
    width: 315px;
    /* flex-shrink: 0; */
    color: #333;
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    margin-left: 32px; 
}

#price {
    color: #612999;
    text-align: justify;
    font-family: Abel;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 287px;
    background: #EFECFF; 
    padding: 32px;
    display:flex ;
    flex-direction: column;
    
}

.footer-text {
    width: 198px;
    height: 18px;
    margin-top: 218px;
    margin-left: 32px;
    color: #333;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 600;
}

.footer-text p{
    width: 198px;
    height: 18px;
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    text-transform: uppercase;
   
}
    
.icon-container {
    display: flex;
    fill: #272D4E;
    gap:24.38px;
 }

#copyright {
    margin-top:16px;
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 51px;
}

.containerfooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerdiv {
    margin-right: 150px;
    margin-bottom: 8px;
}

.footerdiv p {
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    text-transform: uppercase;
}

.footerdiv ul {
    list-style-type: none;
    padding: 0;
}

.footerdiv li {
    margin-bottom: 8px;
}

.footer li a { 
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.container{ 
    display: flex;
}


.image {
    height: 300px;
    margin: 32px;
    border: 2px solid #E6DBFE;
}

#image1 { 
    width: 300px;
}

#image2 { 
    width: 389px;
}

#list-items p { 
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
    margin-left: 32px; 
} 

.icon-list {
    margin-left: 32px;
    list-style: none;
    padding: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.icon-circle {
    width: 82px;
    height: 82px;
    background-color: #612999;
    border-radius: 46.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle svg {
    fill: white;
}

.icon-text {
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 58.333% */
    margin-left: 16px;
}


#yourchoice { 
    width: 1136px;
    height: 503px;
    flex-shrink: 0;
    background: #EFECFF;
    margin-bottom: 198px;
    margin-left:32px;
}

#yourchoice p { 
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
}



#yourchoice img {
    width: 100%;
}



#publication p { 
    margin-left: 32px;
    color: #612999;
   font-family: Rubik;
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: 40px; /* 100% */
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon:nth-child(1) { /* Coeur */
    width: 47px;
    height: 47px;
    margin-bottom: 338px; 
    margin-right: 52px;
    margin-top: 42px;
}

.icon:nth-child(1) svg:nth-child(1) {
    width: 47px;
    height: 47px;
}

.icon:nth-child(1) svg:nth-child(2) {
    width: 23px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:nth-child(2) { /* Panier */
    width: 63px;
    height: 63px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 406px;
    margin-right: 843px;
    position: absolute;
    
}

.icon:nth-child(2) svg:nth-child(1) {
    width: 63px;
    height: 63px;
    
}

.icon:nth-child(2) svg:nth-child(2) {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

